.App {
  width: 100vw;
  height: 100vh;
  background: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Board {
  width: calc(80 * 10px);
  height: calc(80 * 10px);
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
}
.Cell {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in;
}
.white {
  background: rgb(250, 228, 228);
  position: relative;
}
.white::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  border: 1px solid black;
}
.white::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  border: 1px solid black;
}
.Cell img {
  max-height: 64px;
  z-index: 2;
  transition: all 0.2s ease-in;
}
.available {
  position: absolute;
  width: 25%;
  min-height: 25%;
  border-radius: 50%;
  background: #616144;
  transition: all 0.2s ease-in;
}
.avaliable-figure {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #f41717;
  transition: all 0.2s ease-in;
}
.reversed {
  transform: rotateX(180deg);
}
