.App {
  width: 100vw;
  height: 100vh;
  background: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Board {
  width: calc(80 * 8px);
  height: calc(80 * 8px);
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
}
.Cell {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-in;
}
.Cell img {
  max-height: 64px;
  z-index: 2;
  transition: all .2s ease-in;
}
.available {
  position: absolute;
  width: 25%;
  min-height: 25%;
  border-radius: 50%;
  background: #616144;
  transition: all .2s ease-in;
}
.avaliable-figure {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #f41717;
  transition: all .2s ease-in;
}
.reversed{
  transform: rotateX(180deg);
}