.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Board{
    width: calc(80*8px);
    height: calc(80*8px);
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
}
.Cell {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.Cell img{
    max-height: 64px;
}
.available{
    position: absolute;
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background: #ff0000;
}